//colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-black-opacity05: rgba(0, 0, 0, 0.5);
$main-dark: #121920;
$main-dark-link: #768298;
$main-medium: #bbc4d6;
$main-medium-opacyty-05: rgba(187, 196, 214, 0.5);
$main-light: #ebebf1;
$large-shadow-opacity-01: rgba(0, 0, 0, 0.1);
$large-shadow-opacity03: rgba(164, 164, 164, 0.03);


//viewport width
$small-width-only: 767px;
$medium-width: 768px;
$medium-width-only: 1169px;
$large-width: 1170px;
